body {
    font-family: 'Circular Std', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque";
}

.container {
    width: 90vw;
    margin: 0 auto;
}

header {
    background-color: #f5f7fa;
    padding: 20px 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo img {
    width: 192px;
}

.menu, .header-dropdown, .page-buttons.hide-show-bottom-buttons {
    display: none;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #091226;
    margin-right: 30px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.start-free-trial {
    background-color: #77DB89;
    color: #091226;
    border: 1px solid #091226;
    font-size: 16px;
}

.login {
    color: #091226;
    font-size: 16px;
}

.page {
    display: flex;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.page-text {
    flex: 1;
    padding: 10px 70px 0 0;
}

.trusted {
    background-color: #f2f5f9;
    display: flex; 
    align-items: center; 
    padding: 5px 20px;
    border-radius: 60px; 
    margin-bottom: 20px;
    border: 1px solid #091226;
    max-width: fit-content;
}

.trusted span {
    display: flex; 
    align-items: center; 
}

.trusted span:first-child {
    margin-right: 10px;
}

.page h1 {
    font-size: 56px;
    margin-bottom: 20px;
    line-height: 1.2; 
}

.page p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.page-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.page-buttons a {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
}

.get-started, .watch-demo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    border-radius: 5px;
}

.get-started {
    background-color: #77DB89;
    color: #091226;
    border: 1px solid #091226;
}

.get-started img, .watch-demo img {
    display: inline-block;
    vertical-align: middle;
}

.watch-demo {
    color: #091226;
    border: 1px solid #091226;
}

.page-image {
    position: relative;
    flex: 1;
    overflow: hidden; 
    background-color: #F8F3EF;
    min-height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    gap: 20px;
}

.page-image img {
    width: 100%;
}

.page-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.page-data span {
    display: block;
    background-color: #77DB89;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    margin: 0 auto 10px;
}

.page-data h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.page-data ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-data li {
    margin-bottom: 10px;
}

.page-data li span {
    float: right;
    font-weight: normal;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-wraper {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
}

.product-section {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 5px 17px 7px rgb(210, 208, 208);
    padding: 20px;
    position: relative;
    min-height: 300px;
}

.product-info {
    margin-right: 20px;
    align-items: center;
}

.product-info .product-tiny-image img {
    height: 101px;
    margin-top: -45px;
    margin-left: 18px;
}

.product-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.product-info ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.product-info ul li {
    font-size: 12.76px;
    line-height: 23.92px;
    display: flex; 
    align-items: center;
}

.product-info ul li span:first-child {
    margin-right: 8px;
    display: inline-block; 
    width: 19.14px; 
    height: 19.14px;
}

.buy-now {
    background-color: #ffa86b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15.95px;
    cursor: pointer;
    font-size: 1em;
    height: 38px;
    width: 122px;
    margin-left: 15px;
}

.product-card, .header-dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    right: -77px;
    left: 0;
    top: 102px;
}

.header-dropdown {
    z-index: 2;
    right: 110px;
    left: 0;
    top: 60px;
}

.dropdown {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
    min-width: fit-content;
    border: 1px solid #DBDBDB;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li.highlighted {
    background: #B0F6C2;
    padding: 10px 20px;
    margin: 0 -20px;
}

.dropdown ul li {
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
    min-width: 220px;
    border: 1px solid #DBDBDB;
}

.badge {
    display: inline-block;
    background-color: #77db89;
    color: #fff;
    border-radius: 20px;
    padding: 8px 25px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    text-align: left; 
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
    border-top: 1px solid #EFEFEF;
}

.card ul li span {
    font-weight: normal;
}

.hide-show-top-buttons {
    display: flex;
}
